div.main-content {
    position: absolute;
    left: 50px;
    width: 450px;
    height: 120px;
}

div.news {
    position: absolute;
    right: 50px;
    width: 550px;
    height: 120px;
}

h1 {
    color: #ffb6c1;
    font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
}

.blue {
    color: #8bd3e6;
    font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
}

.centered {
    text-align: center;
}

p {
    font-family: tahoma, sans-serif;
    font-size: 11px;
}

a {
    color: #ffb6c1;
}

.topnav {
    background-color: #ffb6c1;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-family: tahoma, sans-serif;
    float: left;
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 13px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #89cff0;
    color: white;
}

/* Add a color to the active/current link */
    .topnav a.active {
        background-color: #8bd3e6;
        color: white;
    }
